OIDC_AUTH_SECRET = "<jwtSecret(atLeast32Letters)>"
OIDC_AUTH_REFRESH_INTERVAL = 900
OIDC_AUTH_EXPIRES = 86400
OIDC_ISSUER = "https://oidc-issuer.example.com"
OIDC_CLIENT_ID = "<clientId>"
OIDC_CLIENT_SECRET = "<clientSecret>"
OIDC_REDIRECT_URI = "http://localhost:5173/callback"
